{{define "following"}}
<style type="text/css">
.btn_class {
    width: 100%;
    text-align: left;
    background: #7200ff14;
    margin: 2px;
}
</style>
<div class="">
    {{ range $i, $a := .Following}}
    <div class="follow_body">
      <button class="btn btn-default btn_class" id="follow_{{$i}}" onclick="toggleFollow({{$i}},{{$a}})">{{$a}}</button>
    </div> 
    {{end}}
</div>

<script>
    function toggleFollow(id, name){
      $.ajax({
                    method : "GET",
                    url: "/follows/"+name,
                    datatype: "json",
                    timeout : 100000,
                    success : function(data) {      
                      elem = document.getElementById("follow_"+id)

                      elem.style.background = elem.style.background == "rgb(114, 0, 255)" ? "rgb(114,0,255,0.08)" : "#7200ff"
      }});
    };
</script>

{{end}}
